*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
input,
button,
textarea {
  font: inherit;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  background-color: #ffffff;
}



/* Footer */
.footer-section {
    padding-top: 80px;
    padding-right: 16px;
    padding-bottom: 139px;
    padding-left: 16px;
    border-bottom: 1px solid #ffffff;
    max-width: 1280px;
    margin-top: 0;
}
.page-footer{
  background: #06071b;
  color: #ffffff;
  max-width: 1280px;

}
.footer-title {
    font-size: 24px;
    margin-bottom: 80px;
    text-align: center;

}
.footer-desk-wrapper {
  width: 500px;
}
.footer-subtitle {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
 
}
.footer-desc {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.footer-list {
  display: flex;
  margin-bottom: 20px;
  gap: 14px;
}

.footer-list-link:hover,
.footer-list-link:focus,
.footer-list-link:active 
{
background: linear-gradient(99deg, #00c5eb 100%, #b544fe 0%);
}
.contact-block {
  font-style: inherit;
}
.contact-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: inherit;
  margin-bottom: 12px;
}

.contact-link:hover,
.contact-link:active,
.contact-link:focus {
  color: #00c5eb;
}
.footer-form {
  display: flex;
  justify-content: flex-end;
}
.footer-button {
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
    width: 181px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
border: none;
padding: 11px 59px 12px;
min-width: 181px;

}

.footer-button:hover,
.footer-button:active,
.footer-button:focus {
  background: linear-gradient(99deg, #00c5eb 100%, #b544fe 0%);
}
.footer-text {
  font-weight: 500;
  font-size: 14px;
  padding-top: 22px;
  padding-bottom: 21px;
  padding-left: 16px;
}
.social-media-list {
  display: flex;
  gap: 14px;
  margin-bottom: 20px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #fff;
}

.social-media-link:hover,
.social-media-link:focus {
background: linear-gradient(99deg, #00c5eb 100%, #b544fe 0%);
}
