body {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  background-color: #06071b;
  width: 1280px;
  height: 684px;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.page-nav {
  backdrop-filter: blur(35px);
  background: linear-gradient(
    99deg,
    rgba(0, 197, 235, 0.3) 0%,
    rgba(181, 68, 254, 0.3) 100%
  );
}

.nav-logo {
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.89px;
}

.menu-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  color: #ffffff;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48.41px;
  text-align: left;
}

.section-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
}

.list {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: left;
  color: #ffffff;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
}
