*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

input,
button,
textarea {
    font: inherit;
}